@import 'colors';
@import "../node_modules/mq-sass/stylesheets/mq-sass";

body {
  overflow-x: hidden;
}

.main {
  height: 6300px;
  margin: 0;
}

.navbar-toggle {
  margin-top: 55px;
}

.navbar-collapse {
  background-color: rgba(15, 69, 109, 1);
  margin-top: -1px;
  @include mq(iphone) {
    margin-top: -1px;
  }
  @include mq(large) {
    margin-top: -1px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(15, 69, 109, 1);
  height: 120px;
  line-height: 120px;
  -webkit-transition: height .5s, line-height .5s;
  @include lg-text;
  ul {
    list-style: none;
    margin-top: 64px;
    margin-right: 24px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .kbc-logo {
    display: inline-block;
    margin-top: -6px;
    margin-left: 15px;
    height: 70px;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
}

.navbar-nav {
  @include navCollapseTopMargin();
}

.scrolled-nav {
  margin-top: 0;
  height: 40px !important;
  line-height: 46px !important;
  .kbc-logo {
    margin-top: 2px;
    height: 35px;
  }
  ul {
    //margin-top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar-collapse {
    margin-top: -1px;
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 8px;
  }
}

li.navAbout a:hover {
  color: #0f6d37 !important;
}

li.navSkills a:hover {
  color: #15619a !important;
}

li.navPortfolio a:hover {
  color: mediumseagreen !important;
}

li.navContact a:hover {
  color: #061a2a !important;
}

.logo, .navAbout, .navSkills, .navPortfolio, .navContact, .navLinks, .navLogin {
  cursor: pointer;
}

.introduction {
  background-color: rgba(15, 69, 109, 0.86);
  text-align: center;
  height: 1000px;
}

.intro-text {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: 200px;
  font-size: 72px;
  font-family: 'Josefin Sans', sans-serif;
  color: $txtcolor;
  @include introTextResize();
}

.kbcHeading {
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif;
  color: $bkgndcolorlight;
  p {
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    color: $bkgndcolorlight;
    @include kbcHeadingResize();
  }
}

.kbcHeading2 {
  margin-top: 20px;
  font-family: 'Oxygen', sans-serif;
  color: $bkgndcolorlight;
  strong {
    font-family: 'Oxygen', sans-serif;
    color: $txtcolor;
  }
  @include kbcHeading2Resize();
}

.aboutMe {
  font-family: 'Oxygen', sans-serif;
  height: 1700px;
  margin-top: -10px;
  margin-bottom: -20px;
  background-color: #0f6d37;
  @include mq(iphone) {
    height: 1200px;
  }
  @include mq(iphone6) {
    height: 1325px;
  }
  @include mq(small) {
    height: 1380px;
  }
  @include mq(medium) {
    height: 1380px;
  }
  @include mq(ipad) {
    height: 1490px;
  }
  @include mq(large) {
    height: 1700px;
  }
  .masthead {
    height: 600px;
    width: 100%;
    background-size: cover;
    background: url("../images/kbc-fam-selfie-1024.png");
    @include mastHeadResize();
  }
  h4 {
    padding-top: 12px;
    padding-left: 100px;
    padding-bottom: 24px;
    font-size: 32px;
    color: $txtcolor;
    @include aboutMeTextResize();
  }
  h5 {
    text-align: center;
    font-size: 20px;
    color: $txtcolor;
    @include aboutMeTextResize();
  }
  strong {
    color: $bkgndcolorlight;
  }
  p {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: $bkgndcolorlight;
    padding-left: 100px;
    padding-right: 50px;
    text-align: left;
    @include aboutMeTextResize();
  }
  .cabo {
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 15px 50px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    padding: 18px;
    @include mq(iphone6) {
      height: 100px;
    }
    @include mq(small) {
      height: 125px;
    }
    @include mq(medium) {
      height: 150px;
    }
    @include mq(large) {
      height: 180px;
    }
  }
  .cabo:hover {
    -webkit-filter: grayscale(0%);
  }

}

.skills {
  height: 910px;
  margin: 0 auto;
  width: 100%;
  padding-top: 24px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: $txtcolor;
  h1 {
    font-size: 46px;
    text-align: center;
  }
  strong {
    color: $bkgndcolorlight;
  }

  .skill {
    margin:0 auto;
    width: 100%;
    .table-responsive {
      margin:0 auto;
      width:56%;
      @include mq(iphone){
        width:80%;
      }
      @include mq(small){
        width:60%;
      }
      @include mq(large){
        width:56%;
      }
    }
      tr {
        width: 100%;
      }
      td {
        border-top: none !important;
      }
    .skill-names {
      padding-left: 60px;
      font-size: 26px;
      font-weight: 400;
      @include mq(iphone){
        font-size: 14px;
        padding-left: 20px;
      }
      @include mq(small){
        font-size: 18px;
        padding-left: 30px;
      }
      @include mq(large){
        font-size: 24px;
        padding-left: 60px;
      }
    }
    .skill-stars{
      float: left;
      width: 90%;
    }
    img {
      padding: 2px;
      width: 30px;
      float: right;
      @include mq(iphone){
        width: 14px;
      }
      @include mq(small){
        width: 20px;
      }
      @include mq(large){
        width: 26px;
      }
    }
  }
}

.hrSkill {
  margin: 24px auto;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.portfolio {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  img {
    width: 100%;
  }
}

.contact {
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background-color: #30404c;
  .banding {
    background: url("../images/code-background.png");
    margin-top:470px;
    background-size: cover;
    height: 175px;
  }
  .wrap {
	width: 50%;
	margin: 0 auto;
	padding-left: 60px;
	height: 80px;

	.iconWrapper {
	  padding-top: 6px;
	  margin: 0 auto;
	  width:15%;
	  text-align: center;
	}
  }
}

.contactMe {
  margin: 0 auto;
  padding-top: 12em;
  width: 50%;
  h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: $txtcolor;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px;
    @include mq(iphone){
      font-size: 28px;
    }
    @include mq(large){
      font-size: 62px;
    }
  }
  strong {
    color: #15619a;
  }
}

.contactIcons {
  margin: auto;
  width: 65px;
  -webkit-filter: grayscale(100%);
  @include mq(iphone){
    width: 30px;
  }
  @include mq(large){
    width: 60px;
  }
}

.contactIcons:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.submitProject {
  height: 900px;
  margin: auto;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: $txtcolor;
  .projectInfo {
    border: 1px solid #CB2027;
    margin: 0 auto;
    width: 35%;
    input {
      color: #000;
    }
    label {
      padding: 6px;;
    }
  }
}

.portfolioItem {
  background-color: #0275B6;
  padding: 10px;
}

hr.faded {
  height: 2px;
  border: 0;
  width: 25%;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}



